@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color:#2a3178;
  font-family:'lato',sans-serif;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color:#9d0609;
  font-family:'alike', serif;
  font-size:3em;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color:#9d0609;
  font-family:'alike',serif;
  font-size:1.5em;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#9d0609;
  font-family:'alike',serif;
  font-size:1.75em;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color:#65668c;
  border:1px solid #141237;
}

nav a {
  margin: 0 35px;
  color:#2a3178;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color:#6f6f81;
}
ul{
  list-style-image: url(../images/star.png);
}
